<h1>New Post</h1>

<%= form_with model: @post, method: :post do |form| %>
  <div>
    <%= form.label :post_name %>
    <%= form.text_field :post_name %>
  </div>

  <div>
    <%= form.label :post_body %>
    <%= form.text_area :post_body %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>

<% end %>
