<h1>Show post By id</h1>

<ul>
    <li>
      <h4>
        <%= @post.post_name %>
      </h4>
      <p>
        <%= @post.post_body %>
      </p>
      <p>
        <%= @post.created_at %>
      </p>
      <%= form_with method: :delete, class: "flex-row flex gap-5 w-50" do |form|  %>
        <button type="button" class="btn btn-primary" onclick="window.location.href = '/posts'">Show all</button>
        <button type="button" class="btn btn-primary" onclick="goToEdit_path()" >Edit</button>
        <%= form.submit "Delete", class: "btn btn-primary", data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
        <button type="button" class="btn btn-primary" onclick="goToNew_path()" >Create</button>
      <% end %>
    </li>
</ul>

<script>
    function goToNew_path() {
        return window.location.href = "/posts/new"
    }
    function goToEdit_path() {
        return window.location.href = window.location.href + '/edit'
    }
</script>